.profile .image-circle {
    border-radius: 50%;
    width: 175px;
    height: 175px;
    border: 4px solid #FFF;
    margin: 10px;
}
.profile .outter {
    padding: 0px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
