{% extends "frame.html" %}
{% load bootstrap3 %}

{% block "content" %}

<!--<script src="notes.js"></script>-->
<script>
$(document).ready(function(){
    $("#new_note_btn").click(function(){
        $("#notes").before("{% include 'meetings/note.html' %}");
    });
});
</script>
<!--the above isn't working - why?-->

<h1>Meeting Started {{ object.start_time }}</h1>
<p>Name: {{ object.name }}</p>
<p>Type: {{ object.meeting_type }}</p>
<p>Date: {{ object.meeting_date|date:"l j F" }}</p>
People in Attendence:
    {% for person in object.people_attending.all %}
        {{ person }},
    {% endfor %}
<br/><br/>
People Apologizing For Their Absence:
    {% for person in object.people_absent.all %}
        {{ person }},
    {% endfor %}
<br/><br/>
Guests:
    {% for person in object.people_guests.all %}
        {{ person }},
    {% endfor %}
<br/><br/>
<p>Chair: {{ object.chair }}</p>
<p>Secretary: {{ object.secretary }}</p>

<form action="" method='post'>
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type='submit' value='End Meeting'/>
</form>

<br/><br/>
<p>Meeting Notes:</p>
<button class='btn btn-default' id="new_note_btn">Create Another Note</button>
<div id="notes">
    {% for note in object.notes.all %}
        {% include "meetings/note.html" %}
    {% endfor %}
</div>

{% endblock %}
