{% extends "base.html" %}
{% load bootstrap3 static sekizai_tags %}

{% block "title" %}{% block "header-title" %}Meeting Started{% endblock %}{% endblock %}
{% block "subtitle" %}{{ object.start_time }}{% endblock %}

{% block "body" %}
  {% include "meetings/meeting_subdetail.html" %}

  <h2>Meeting Notes</h2>

  <div id="notes">
    {% for note in object.notes.all %}
      {% include "meetings/note.html" %}
    {% endfor %}

    <form action="{% url 'meetings:add_note' object.pk %}" method='post' id='add_note'>
      {% csrf_token %}
      <input type="hidden" name='meeting' value="{{ object.pk }}">
      <div class='input-group'>
        <input class="form-control" type="text" name='text' placeholder="New Note" id='note_text_box'>
        <span class="input-group-btn">
          <button class='btn btn-default' id="new_note_btn" type="submit"><span class='glyphicon glyphicon-plus'></span></button>
        </span>
      </div>
    </form>
  </div>

  <h2>Final Details</h2>

  <form action="" method='post'>
    {% csrf_token %}
    {% bootstrap_form form %}
    <input class="btn btn-danger" type='submit' value='End Meeting'/>
  </form>

{% endblock %}
