{% extends "frame.html" %}
{% load bootstrap3 static sekizai_tags %}

{% block "content" %}

    {% addtoblock "js" %}
        <script src="{% static "js/meetings.js" %}" type="text/javascript"></script>
    {% endaddtoblock %}

<h1>Meeting Started {{ object.start_time }}</h1>
<p>Name: {{ object.name }}</p>
<p>Type: {{ object.meeting_type }}</p>
<p>Date: {{ object.meeting_date|date:"l j F" }}</p>
People in Attendence:
    {% for person in object.people_attending.all %}
        {{ person }},
    {% endfor %}
<br/><br/>
People Apologizing For Their Absence:
    {% for person in object.people_absent.all %}
        {{ person }},
    {% endfor %}
<br/><br/>
Guests:
    {% for person in object.people_guests.all %}
        {{ person }},
    {% endfor %}
<br/><br/>
<p>Chair: {{ object.chair }}</p>
<p>Secretary: {{ object.secretary }}</p>

<p>Meeting Notes:</p>
<div id="notes">
    {% for note in object.notes.all %}
        {% include "meetings/note.html" %}
    {% endfor %}
<form action="{% url 'meetings:add_note' object.pk %}" class='form-inline' method='post' id='note_form'>
    {% csrf_token %}
    <div class='form-group'>
        <input type="text" class='form-control' rows=4 name='text' placeholder="New Note" id='note_text_box'>
        <input type="hidden" name='meeting' value="{{ object.pk }}">
        <button class='btn btn-default pull-right' id="new_note_btn" type="submit" data-ajax='True'><span class='glyphicon glyphicon-plus'></span></button>
    </div>
</form>
</div>

<form action="" method='post'>
    {% csrf_token %}
    <!--{ bootstrap_field form.people_late %}-->
    <input type='submit' value='End Meeting'/>
</form>
<br/><br/>
<a class='btn btn-default' href="{% url 'meetings:index' %}" role='button'>Back to Meeting Index</a>

{% endblock %}
