{% extends "frame.html" %}
{% load bootstrap3 static sekizai_tags %}

{% block "content" %}

<h1>Edit a Meeting</h1>
<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd>{{ object.name }}</dd>
  <dt>Type:</dt> 
  <dd>{{ object.meeting_type }}</dd>
  <dt>Date:</dt> 
  <dd>{{ object.meeting_date|date:"l j F" }}</dd>
</dl>

<form action="" method='post'>
  {% csrf_token %}
  {% bootstrap_form form %}
  <input class="btn btn-primary" type='submit' value='Begin Meeting'/>
  <a class='btn btn-default' href="{% url 'meetings:index' %}" role='button'>Exit Without Saving Changes</a>
</form>

<script>
//sadly, I don't see any better way to do this
$(document).ready(function() {
  $("#id_people_attending_person_list").append("<ul class='list-inline '></ul>");
  {% for person in object.people_attending.all %}
    $("#id_people_attending_person_list ul").append("<li id='attending-{{ person.pk }}'><a href='{{ person.get_absolute_url }}'>{{ person }}</a></li>");
    $("#id_people_attending_person_list ul #attending-{{ person.pk }}").add_kill_btn();
  {% endfor %}
  $("#id_people_absent_person_list").append("<ul class='list-inline '></ul>");
  {% for person in object.people_absent.all %}
    $("#id_people_absent_person_list ul").append("<li id='absent-{{ person.pk }}'><a href='{{ person.get_absolute_url }}'>{{ person }}</a></li>");
    $("#id_people_absent_person_list ul #absent-{{ person.pk }}").add_kill_btn();
  {% endfor %}
  $("#id_people_guests_person_list").append("<ul class='list-inline '></ul>");
  {% for person in object.people_guests.all %}
    $("#id_people_guests_person_list ul").append("<li id='guests-{{ person.pk }}'><a href='{{ person.get_absolute_url }}'>{{ person }}</a></li>");
    $("#id_people_guests_person_list ul #guests-{{ person.pk }}").add_kill_btn();
  {% endfor %}
});
</script>

{% endblock %}
