{% extends 'frame.html' %}
{% load bootstrap3 %}

{% block "content" %}

<style>
p {
    font-size:medium;
}
span {
    font-weight:bold;
}
</style>


<h1>Edit a Meeting</h1>
<p>
<span>Name:</span> {{ object.name }}<br/>
<span>Type:</span> {{ object.meeting_type }}<br/>
<span>Date:</span> {{ object.meeting_date|date:"l j F" }}
</p>
<form action="" method='post'/>
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type='submit' value='Begin Meeting'/>
</form>

<a class='btn btn-default' href="{% url 'meetings:meeting_index' %}" role='button'>Exit Without Saving Changes</a>

{% endblock %}
