<div class="note bg-success alert-dismissable" id="mnote-{{ note.pk }}">
  <form action="{% url 'meetings:delete_note' note.pk %}" method='post' class='delete_note'>
    {% csrf_token %}
    <button type="submit" class='close' aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </form>
  <span id="mnote-{{ note.pk }}-text" class="txt">{{ note.text }}</span>
</div>
<form action="{% url 'meetings:update_note' note.pk %}" method='post'
      id="mnote-{{ note.pk }}-update" class="update_note hidden">
  {% csrf_token %}
  <div class='input-group'>
    <input class="form-control" type="text" value="{{ note.text }}" name="text" id="mnote-{{ note.pk }}-input"/>
    <span class="input-group-btn">
      <button class='btn btn-default' type="submit"><span class='glyphicon glyphicon-save'></span></button>
    </span>
  </div>
</form>


