{% extends "base.html" %}
{% load static %}

{% block "header-title" %}{% block "title" %}{{ object }}{% endblock %}{% endblock %}

{% block "head" %}{{ block.super }}
  <link href="{% static "css/calendar.css" %}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block "body" %}
<div class="row">
  
  <div class="col-md-9">
    {% with object.this_day as object %}
      <h2>{{object.written_month}}, {{object}} {{object.year}}</h2>
    {% endwith %}
    <hr/>

    <h3>Today's Events</h3>
      {% for event in object.today %}
         <div class="btn-group-justified" style="margin-top: 5px;">
           <a href="{{ event.get_absolute_url }}" class="btn btn-default">
             <span class="glyphicon glyphicon-ok"></span> {{ event }}
           </a>
         </div>
      {% empty %}
        <div class="btn-group-justified"><div class="btn btn-danger">No Events</div></div>
      {% endfor %}

    <hr/>

    <h3>Upcoming Events This Month</h3>
      {% for event in object.upcoming_events %}
          <div class="btn-group-justified" style="margin-top: 5px;">
            <a href="{{ event.get_absolute_url }}" class="btn btn-default">
              <span class="glyphicon glyphicon-ok"></span> {{ event }}
            </a>
          </div>
       {% empty %}
         <div class="btn-group-justified"><div class="btn btn-danger">No Events</div></div>
       {% endfor %}

    <hr/>

    <h3>Past Events This Month</h3>
      {% for event in object.past_events %}
          <div class="btn-group-justified" style="margin-top: 5px;">
            <a href="{{ event.get_absolute_url }}" class="btn btn-default">
              <span class="glyphicon glyphicon-ok"></span> {{ event }}
            </a>
          </div>
       {% empty %}
         <div class="btn-group-justified"><div class="btn btn-danger">No Events</div></div>
       {% endfor %}
    
    <div class="event-item">
      <h2><span class="glyphicon glyphicon-time"></span> HELLO, this is a title</h2>
      <div class="row">
        <div class="col-md-3"><img src="{% static "images/noevent.png" %}"></div>
        <div class="col-md-9">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
      </div>
      <div class="buttons">
        <div class="btn-group">
          <a class="btn btn-success" href=""><span class="glyphicon glyphicon-plus"></span> Attending</a>
          <a class="btn btn-default" href=""><span class="glyphicon glyphicon-search"></span>Details</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="btn-group btn-group-justified">
      <a href="" class="btn btn-default" style="width: 100%;"><span class="fa fa-calendar-check-o"></span> Subscribe</a>
      <a href="" class="btn btn-warning" style="width: 40px;"><span class="fa fa-rss"></span></a>
    </div>

    {% with object.this_month as object %}
      {% include "diary/includes/month.html" %}
    {% endwith %}

 
    <hr/>

    <h2>Up and Coming</h2>

    {% for event in object.next_events %}
      <div class="btn-group-justified" style="margin-top: 5px;">
        <a href="{{ event.get_absolute_url }}" class="btn btn-default">
          <span class="glyphicon glyphicon-ok"></span> {{ event }}
        </a>
      </div>
    {% empty %}
      <div class="btn-group-justified"><div class="btn btn-danger">No Events</div></div>
    {% endfor %}

    {% if object.previous_events.count > 0 %}
      <hr/>

      <h2>Recent Events</h2>

      {% for event in object.previous_events %}
        <div class="btn-group-justified" style="margin-top: 5px;">
          <a href="{{ event.get_absolute_url }}" class="btn btn-default">
            <span class="glyphicon glyphicon-ok"></span> {{ event.date }} - {{ event }}
          </a>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}
