{% extends "base.html" %}
{% load static pagination_tags %}

{% block "header-title" %}All Events{% endblock %}
{% block "title" %}All Events{% endblock %}

{% block "body" %}

<div class="row">
  <div class="col-md-9">
    <h1> Events List </h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Event Name</th>
          <th>Event Description</th>
          <th>Event Date</th>
          <th>Event Type</th>
          <th>Calendar Type</th>
        </tr>
      </thead>
      
      <tbody>
      {% autopaginate object_list 20 as events %}
      {% for event in events %}
        <tr>
          <td></td>
          <td><a href="{{ event.get_absolute_url }}">{{ event.name }}</a></td>
          <td>{{ event.desc|truncatewords:10 }}</td>
          <td>{{ event.date }}</td>
          <td>{{ event.template }}</td>
          <td>{{ event.calendar }}</td>
        </tr>
      {% endfor %}

      </tbody>
    </table>

    {% paginate %}

  </div>


  <div class="col-md-3">
    <h3>Calendars</h3>
    <div class="buttons">
      <div class="btn-group">
        {% for calendar in object_list.calendars %}
        <a class="btn btn-primary btn-lg" 
          href="{{ calendar.get_absolute_url }}">
                {{ calendar.name|linebreaks }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
