{% extends "base.html" %}
{% load static %}

{% block "head" %}{{ block.super }}
  <link href="{% static "css/calendar.css" %}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block "title" %}{{ object }} {{ calendar }}{% endblock %}
{% block "subtitle" %}{{ object.year }}{% endblock %}

{% block "body" %}

<div class="row">
  <div class="span9">

    <div class="cal-context" style="width: 100%;" id="calendar"><div class="cal-row-fluid cal-row-head">
      {% for dow in object.week_days %}
        <div class="cal-cell1">{{ dow }}</div>
      {% endfor %}
    </div>

  <div class="cal-month-box">

    {% for week in object %}
      <div class="cal-row-fluid cal-before-eventlist">
        {% for day in week %}
          {% if not day.inner %}
            <a class="cal-cell1 cal-cell" data-cal-row="-day{{ forloop.counter }}" href="{{ day.parent.get_absolute_url }}">
              <span class="{{ day.get_css }}">
                <span data-original-title="" class="pull-right" data-cal-date="{{ day.date.isoformat }}" data-cal-view="day" data-toggle="tooltip" title="{{ day.date }}">{{ day.date.day }}</span>
              </span>
            </a>
          {% elif day|length == 1 %}
            <a class="cal-cell1 cal-cell" data-cal-row="-day{{ forloop.counter }}" href="{{ day.get_absolute_url }}">
              <span class="{{ day.get_css }}">
                <span data-original-title="" class="pull-right" data-cal-date="{{ day.date.isoformat }}" data-cal-view="day" data-toggle="tooltip" title="{{ day.date }}">{{ day.date.day }}</span>
                <div class="event-bar event-info" data-cal-start="?" data-cal-end="?"></div>
              </span>
            </a>
          {% else %}
            <div class="cal-cell1 cal-cell" data-cal-row="-day{{ forloop.counter }}">
              <div class="{{ day.get_css }}">
                <a href="{{ day.get_absolute_url }}" data-original-title="" class="pull-right" data-cal-date="{{ day.date.isoformat }}" data-cal-view="day" data-toggle="tooltip" title="{{ day.date }}">{{ day.date.day }}</a>
                <div class="events-list" data-cal-start="?" data-cal-end="?">
                  {% for event in day %}
                    <a data-original-title="{{ event }}" href="{{ event.get_absolute_url }}" data-event-id="{{ event.pk }}" data-event-class="event-info" class="pull-left event event-info" data-toggle="tooltip" title="{{ event }}"></a>
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>

  </div>
</div>

<div class="btn-group btn-group-lg btn-group-justified" role="group" style="margin: 9px 0;">
  <a class="btn btn-info" href="previous/"><span class="glyphicon glyphicon-chevron-left"></span> October</a>
  <a class="btn btn-info" href="next/">December <span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

{% endblock %}
