{% extends 'frame.html' %}
{% load i18n %}

{% block "content" %}

<h1>{% block title %}{% trans "The Faces of Inkscape Users" %}{% endblock %}</h1>

{% for detail in object_list %}

{% if detail.photo %}
  <div class="galleryitem">
    <a class="link" href="{{ detail.user.get_absolute_url }}"><img src="{{ detail.photo.url }}" title="{{ detail.user }}"/></a>
    <p title="{{ detail.user.email }}"><a href="{{ detail.user.get_absolute_url }}">{{ detail.user }}</a></p>
  </div>
{% else %}
.
{% endif %}

{% endfor %}

{% endblock %}
