{% load static %}
<div class="event-item">
  <h2>
    <span class="glyphicon glyphicon-time"></span>
    <a href="{{ event.get_absolute_url }}">{{event}}</a>
  </h2>
  <div class="row">
    <div class="col-md-3">
      <img src="{% if event.template.image %}{{ event.template.image.url }}{% else %}{% static "images/noevent.png" %}{% endif %}">
    </div>
    <div class="col-md-9"> {{ event.desc }} </div>
  </div>
  <div class="buttons">
    <div class="btn-group">
      <a class="btn btn-success" href="">
        <span class="glyphicon glyphicon-plus"></span> Attending</a>
      <a class="btn btn-default" href="">
        <span class="glyphicon glyphicon-search"></span>Details</a>
    </div>
  </div>
</div>
