  <table class="mini-calendar text-center table-condensed">
    <thead>
      <tr>
        <th class="prev text-center"><a href="{{ object.previous.get_absolute_url }}" data-table-ajax="{{ object.previous.get_ajax_url }}">&#x2039;</a></th>
        <th colspan="5" class="switch text-center">{{ object }} {{ object.year }}</th>
        <th class="next text-center"><a href="{{ object.next.get_absolute_url }}" data-table-ajax="{{ object.next.get_ajax_url }}">&#x203A;</a></th>
      </tr>
      <tr>
        {% for dow in object.week_days %}
          <th class="dow text-center">{{ dow|slice:"2" }}</div>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for week in object %}
        <tr>
          {% for day in week %}
            <td class="day {{ day.get_css }}">
              {% if day|length >= 2 %}
                <a href="{{ day.get_absolute_url }}">{{ day.date.day }}</a>
              {% elif day|length == 1 %}
                <a href="{{ day.0.get_absolute_url }}">{{ day.date.day }}</a>
              {% else %}
                <a>{{ day.date.day }}</a>
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
