<!DOCTYPE html>
{% load static %}
{% load cms_tags sekizai_tags %}

<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <title>Ashmont Valley - {% block "title" %}{% endblock %}</title>

    <link href='http://fonts.googleapis.com/css?family=Quattrocento' rel='stylesheet' type='text/css'>

    <link href="{% static "images/favico.png" %}" type="image/png" rel="icon" />
    <link href="{% static "css/main.css" %}" type="text/css" rel="stylesheet" />
    <link href="{% static "css/logo.css" %}" type="text/css" rel="stylesheet" />

    {% render_block "css" %}

    {% render_block "js" %}

    <meta name="Author" content="Martin and Victor" />
    <meta name="description" content="{% block "headerdesc" %}{% endblock %}" />
    <meta name="keywords" content="" />
  </head>

  </head>

  <body>
    {% cms_toolbar %}

    {% block "body" %}Do not use this page directly{% endblock %}
  </body>
</html>
