<!DOCTYPE html>
{% load static %}

<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <title>Ashmont Valley - {% block "title" %}{% endblock %}</title>

    <link href='http://fonts.googleapis.com/css?family=Quattrocento' rel='stylesheet' type='text/css'>

    <link href="{% static "images/favico.png" %}" type="image/png" rel="icon" />
    <link href="{% static "css/main.css" %}" type="text/css" rel="stylesheet" />
    <link href="{% static "css/logo.css" %}" type="text/css" rel="stylesheet" />
  </head>

  <body id="page-{% block body-pageid %}{{ PAGE_ID }}{% endblock %}" class="{% block body-classes %}{% endblock %}">
    {% block "body" %}Do not use this page directly{% endblock %}
  </body>
</html>
