{% extends "base.html" %}
{% load bootstrap3 %}

{% block "body-header" %}{% endblock %}
{% block "body" %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        {% block "dialog-header" %}
          <h4 class="modal-title">{% block "header-title" %}{% block "dialog-title" %}-{% endblock %}{% endblock %}</h4>
        {% endblock %}
      </div>
      <div class="modal-body">
        {% block "dialog-body" %}
          {% if form %}
            {% block "dialog-message" %}{% endblock %}
            {% bootstrap_form form %}
          {% endif %}
        {% endblock %}
      </div>
      <div class="modal-footer">
        {% block "dialog-footer" %}{% endblock %}
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</form>
{% endblock %}

