{% extends "base.html" %}
{% load static bootstrap3 %}
{% load menu_tags  %}

{% block "body" %}
  <div class="header">
      <div id="cleartop">
        <div id="logo">
          <a href="/"><img src="{% static "images/title.png" %}" alt="Logo" title="Ashmont Valley Logo"></a>
          <h2 id="title">
            <span class="ashmont"><span class="first-letter">A</span>shmont</span>
            <span class="valley"><span class="first-letter">V</span>alley</span> 
            <span class="small" title="Website is running locally">Neighborhood Association</span>
          </h2>
        </div>
        {% include "header.html" %}
      </div>
    {% block "menu" %}
      <div class="nav">
          <ul id="menu">{% show_menu %}</ul>      
      </div>
    {% endblock %}
    </div>

    {% bootstrap_messages %}

    {% block "super" %}
      <div id="framed">
        <div class="wrapper row">
          {% block "content" %}{% endblock %}
          {% block content %}{% endblock content %}
          {% block extra_js %}{% endblock extra_js %}
        </div>
      </div>
    {% endblock %}

    {% block "footer" %}
      <div class="footer">
        Website designed and developed by <a href="http://doctormo.org/">Martin Owens</a>
      </div>
    {% endblock %}
{% endblock %}

