{% load i18n %}

<div id="header-right">
  <ul id="topdrops">
  {% include "languages.html" %}

  {% if not request.user.is_authenticated %}
    <li id="toplogin">
      <p>
        <a href="{% url "auth_login" %}">{% trans "Log in" %}</a>
        /
        <a href="{% url "auth_register" %}">{% trans "Register" %}</a>
      </p>
    </li>

  {% else %}
    <li id="toplogin" class="loggoff">
      <p>{{ request.user }}</p>
      <form  class="topdrop">
        <p><a href="{% url "auth_logout" %}">{% trans "Logout" %}</a></p>
        {% if request.user.is_superuser %}
        <p><a href="/admin">{% trans "Administration" %}</a></p>
        {% endif %}
      </form>
    </li>
  {% endif %}

  </ul>
</div>

