<div id="{{html_id}}_on_deck" class="results_on_deck"></div>

<div id="{{ html_id }}_wrapper" class="input-group">
  <input type="hidden" name="{{name}}" id="{{html_id}}" value="{{current_ids}}" data-ajax-select="autocompleteselectmultiple" data-plugin-options="{{ data_plugin_options }}" />
  <input class="form-control" type="text" name="{{name}}_text" id="{{html_id}}_text" value="" autocomplete="off"  {{ extra_attrs }} />
  <span class="input-group-btn">
    <button class='btn btn-default' type="submit"><span class='glyphicon glyphicon-plus'></span></button>
  </span>
</div>
