{% extends 'dialog.html' %}
{% load i18n future static %}

{% block "dialog-title" %}{{ object.ctype|default:"Visitor" }}{% if object.org %} | {{ object.org }}{% endif %}{% endblock %} 

{% block "dialog-body" %}
  <div class="profile" align="center">
    <div class="outter"><img src="{% if object.photo %}{{ object.photo.url }}{% else %}{% static "images/photo.png" %}{% endif %}" class="image-circle"/></div>   
    <h1>{{ object }}</h1>
    <span>{{ object.desc|default:"hasn't written anything about themselves yet" }}</span>
  </div>
{% endblock %}

{% block "dialog-footer" %}
  {% if object == request.user %}
    <a class="btn btn-default" href="{% url "edit_profile" %}">{% trans "Edit Profile" %}</a>
  {% endif %}
{% endblock %}
