{% extends "dialog.html" %}
{% load i18n %}

{% block "dialog-title" %}{% trans "Activation Complete" %}{% endblock %}

{% block "dialog-body" %}
<p>{% trans "Your user account has been created. Please log in using your username and password." %}</p>
<p>
{% trans "If you have any problems" %}, {% trans "please" %} <a href="{% url "contact" %}?subject=Lost activation code">{% trans "contact us" %}</a>.
</p>
{% endblock %}

{% block "dialog-footer" %}
  <a class="btn btn-primary" href="{% url "auth_login" %}">{% trans "Continue" %}</a>
{% endblock %}
