{% extends "dialog.html" %}
{% load i18n %}

{% block "dialog-title" %}{% trans "Login Now or Join Below" %}{% endblock %}

{% block "dialog-footer" %}
  <div class="social-icons">
    <a href="{% url "socialauth_begin" 'google-oauth2' %}" id="login-google"></a>
    <a href="{% url "socialauth_begin" 'facebook' %}" id="login-facebook"></a>
    <a href="{% url "socialauth_begin" 'twitter' %}" id="login-twitter"></a>
    <a href="{% url "socialauth_begin" 'yahoo' %}" id="login-yahoo"></a>
  </div>
  <a class="btn btn-default" href="{% url "auth_register" %}">{% trans "Join Now" %}</a>
  <a class="btn btn-default" href="{% url "password_reset" %}">{% trans "Reset Password" %}</a>
  <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-log-in"></span> {% trans "Login" %}</button>
{% endblock %}

