{% extends "dialog.html" %}
{% load i18n %}

{% block "dialog-title" %}{% trans "User Login" %}{% endblock %}

{% block "dialog-footer" %}
  <div class="social-icons">
    <a href="{% url "socialauth_begin" 'google-oauth2' %}" id="login-google"></a>
    <a href="{% url "socialauth_begin" 'facebook' %}" id="login-facebook"></a>
    <a href="{% url "socialauth_begin" 'twitter' %}" id="login-twitter"></a>
    <a href="{% url "socialauth_begin" 'yahoo' %}" id="login-yahoo"></a>
  </div>
  <a class="btn btn-default" href="{% url "password_reset" %}">{% trans "Reset Password" %}</a>
  <input class="btn btn-primary" type="submit" value="{% trans "Login" %}"/>
{% endblock %}

