{% extends "base.html" %}
{% load i18n %}

{% block content %}

<div style="text-align: center;">

<h1>{% block title %}{% trans "Reset Your Password" %}{% endblock %}</h1>

<p>{% trans "Welcome, in order to adjust your password we need to send an email to you with a link." %}</p>

{% if form.errors %}
<p class="error">{% trans "Please correct the errors below" %}:</p>
{% endif %}

<form method="post" action="" style="display: inline-block;">
  {% csrf_token %}

<table>
  <tr>
    <th scope="row"><label for="id_email">{{ form.email.label_tag }}</label></th>
    <td>{{ form.email }}</td>
  </tr>
  {% if form.recaptcha.errors %}<tr class="error"><td colspan="2">{{ form.recaptcha.errors|join:", " }}</td></tr>{% endif %}
  <tr>
    <th scope="row"><label for="id_recaptcha">{% trans "ReCaptcha" %}:</label></th>
    <td>{{ form.recaptcha }}<td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: right;">
      <input type="submit" value="{% trans "Send Password Reset" %}"/>
    </td>
  </tr>
</table>

</form>

</div>

{% endblock %}
