{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Registration Complete" %}{% endblock %}

{% block supercontent %}

<h1>{% trans "Registration Complete" %}</h1>

<p>{% trans "Thank you for registering. You will very soon receive an email with a confirmation link. Please follow this link in order to complete your registration." %}</p>

<p>
{% trans "If you don't receive it shortly, please check your spam folder." %} {% trans "If it's not there, please" %} <a href="{% url "contact" %}?subject=Lost activation code">{% trans "contact us" %}</a>.
</p>

{% endblock %}
