{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "New User Registration" %}{% endblock %}

{% block supercontent %}

<h2>{% trans "New User Registration" %}</h2>

<p>{% trans "Welcome, in order to register you must have a valid email address." %}</p>

<div class="reginfo">
  <p>{% trans "The Inkscape website has the ability to notify you via email when things happen, like a new inkscape release or a personal message from another user. If you would like to control when an email should be sent to you, please go to your User Settings." %}</p> 
  <p>{% trans "This website and it's services are provided 'as is', and you should not expect the services to continue to work or serve any particular need. Your files should never be assumed to be safe here and you should back everything up." %}</p>
</div>

{% if form.errors %}
<p class="error">{% trans "Please correct the errors below" %}:</p>
{% endif %}

<form method="post" action="">
{% csrf_token %}

<table>
  {% if form.username.errors %}<tr class="error"><td colspan="2">{{ form.username.errors|join:", " }}</td></tr>{% endif %}
  <tr>
    <th scope="row"><label for="id_username">{% trans "Username" %}:</label></th>
    <td>{{ form.username }}<td>
  </tr>

  {% if form.email.errors %}<tr class="error"><td colspan="2">{{ form.email.errors|join:", " }}</td></tr>{% endif %}
  <tr>
    <th scope="row"><label for="id_email">{% trans "Email Address" %}:</label></th>
    <td>{{ form.email }}<td>
  </tr>

  {% if form.password1.errors %}<tr class="error"><td colspan="2">{{ form.password1.errors|join:", " }}</td></tr>{% endif %}
  <tr>
    <th scope="row"><label for="id_password1">{% trans "Password" %}:</label></th>
    <td>{{ form.password1 }}<td>
  </tr>

  {% if form.password2.errors %}<tr class="error"><td colspan="2">{{ form.password2.errors|join:", " }}</td></tr>{% endif %}
  <tr>
    <th scope="row"><label for="id_password2">{% trans "Confirm" %}:</label></th>
    <td>{{ form.password2 }}<td>
  </tr>

  {% if form.recaptcha.errors %}<tr class="error"><td colspan="2">{{ form.recaptcha.errors|join:", " }}</td></tr>{% endif %}
  <tr>
    <th scope="row"><label for="id_recaptcha">{% trans "ReCaptcha" %}:</label></th>
    <td>{{ form.recaptcha }}<td>
  </tr>


  <tr>
    <td colspan="2"><input type="submit" value="{% trans "Register" %}" /></td>
  </tr>
</table>
</form>

{% endblock %}
